{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "env": {
      "node": true
    },
    "ignorePatterns": [".eslintrc"],
    "plugins": [
      "@typescript-eslint",
      "import",
      "promise",
      "prettier",
      "deprecation"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:import/recommended",
      "plugin:promise/recommended",
      "plugin:prettier/recommended",
      "plugin:@typescript-eslint/recommended",
      "plugin:@typescript-eslint/recommended-requiring-type-checking",
      "plugin:@typescript-eslint/strict"
    ],
    "rules": {
      "deprecation/deprecation": "error",
      "no-console": "warn",
      "@typescript-eslint/ban-ts-comment": "off",
      "@typescript-eslint/ban-types": [
        "error",
        {
          "types": {
            "Function": false
          }
        }
      ],
      "require-jsdoc": "warn",
      "@typescript-eslint/no-non-null-assertion": "off",
      "@typescript-eslint/no-extraneous-class": "off"
    },
    "settings": {
      "import/parsers": {
        "@typescript-eslint/parser": [".ts"]
      },
      "import/resolver": {
        "typescript": {
          "alwaysTryTypes": true,
          "project": ["tsconfig.json"]
        }
      }
    },
    "parserOptions": {
      "project": ["tsconfig.json"]
    }
  }
  